/* Variabili di colore */
:root {
    --primary: #5C4B51; /* Colore primario */
    --secondary: #8CBEB2; /* Colore secondario */
    --accent: #F2EBBF; /* Colore di accentuazione */
    --details: #F3B562; /* Colore dei dettagli */
    --other: #F06060; /* Altro colore */
}

/* Stili di sfondo */
.background-primary {
    background-color: var(--primary); /* Colore di sfondo utilizzando la variabile primaria */
}

.background-secondary {
    background-color: var(--secondary); /* Colore di sfondo utilizzando la variabile secondaria */
}

.background-accent {
    background-color: var(--accent); /* Colore di sfondo utilizzando la variabile di accentuazione */
}

.background-details {
    background-color: var(--details); /* Colore di sfondo utilizzando la variabile dei dettagli */
}

.background-other {
    background-color: var(--other); /* Colore di sfondo utilizzando l'altro colore */
}

/* Stili del colore del testo */
.primary {
    color: var(--primary); /* Colore del testo utilizzando la variabile primaria */
}

.secondary {
    color: var(--secondary); /* Colore del testo utilizzando la variabile secondaria */
}

.accent {
    color: var(--accent); /* Colore del testo utilizzando la variabile di accentuazione */
}

.details {
    color: var(--details); /* Colore del testo utilizzando la variabile dei dettagli */
}

.other {
    color: var(--other); /* Colore del testo utilizzando l'altro colore */
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--details);
    border-radius: 10px;
}
/* Stili della sezione di benvenuto */
.page-margin {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 100px;
    min-height: 70vh;
}
/* Stili dell'intestazione */
* {
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    font-family: 'Merriweather', serif;
    background-color: #f8f8f8;
    color: var(--primary);
  }

  h1{
  color: var(--primary);
  margin-bottom: 50px;
  }

a {
  text-decoration: none;
}



.nav-custom{
  background-color: #f8f8f8;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 50px;
  padding-top: 15px;
  padding-right: 30px;
  display: flex;
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li{
  height: 50px;
}

nav a{
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  color: var(--primary);
  transition: all 0.2s;
  text-wrap: nowrap;
}

nav a:hover{
  background-color: var(--details);
}

nav li:first-child{
  margin-right: auto;
}

.logo{
  height: 48px;
  padding-top: 5px;
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(243, 181, 98, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: all 0.2s;
}

.sidebar li{
  width: 100%;
}

.sidebar a{
  width: 100%;
}

.menu-button{
display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: var(--primary);
  padding: 13px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  transition: all 0.2s;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
}

.dropdown-content a {
  float: none;
  color: var(--primary);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-wrap: wrap;
}

.dropdown-content a:hover {
  background-color: var(--details);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn:hover{
  background-color: var(--details);
}

.search-bar-navbar{
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-left: 70px;
  padding: 0 30px;
}

.search-bar-sidebar{
  display: none;
  width: 100%;
  padding: 0 30px;
  margin-top: 0px;
}

.search-input{
  min-width: 400px;
  width: max-content;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0 20px;
  font-size: 16px;
  margin-bottom: 4px;
  outline: none;
  background-color: #f8f8f8;
}

.search-button{
  background-color: var(--details);
  color: var(--primary);
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 8px;
  padding: 5px 20px;
  cursor: pointer;
  transition: all 0.2s;
}

.search-button:hover{
  background-color: var(--accent);
  color: var(--primary);
}

@media(max-width: 1670px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .search-bar-navbar{
    display: none;
  }
  .dropdown{
    width: 100%;
  }
li {
  padding-left: 0px;
}
  
}


@media(min-width: 280px){
  .sidebar{
    width: 100%;
  }
  .dropdown {float: none;}
  .dropdown-content {position: relative;}
  .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .search-bar-sidebar{
    display: flex;
    margin-top: 20px;
    padding-left: 0px;
  }

  .img-preview{
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
  }




}
